:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-cyan-light: hsl(179, 47%, 52%);
  --primary-bright-yellow: hsl(71, 73%, 54%);
  --neutral-light-gray: hsl(204, 43%, 93%);
  --neutral-grayish-blue: hsl(218, 22%, 67%);
  --font-normal: 400;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--neutral-light-gray);
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  margin: auto;
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container .primary-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: #fff;
  padding: 4rem;
  border-radius: 5px 5px 0 0;
}

.container .primary-section .box-primary-1 .title {
  font-size: 2.4rem;
  font-weight: var(--font-bold);
  color: var(--primary-cyan);
  margin-bottom: 2rem;
}

.container .primary-section .box-primary-1 .subtitle {
  color: var(--primary-bright-yellow);
  font-size: 1.8rem;
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.container .primary-section .box-primary-1 .paragraph {
  color: var(--neutral-grayish-blue);
  font-size: 1.5rem;
  font-weight: var(--font-normal);
  word-break: break-all;
  width: 96%;
}

.container .secondary-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container .box-secondary-1 {
  background: var(--primary-cyan);
  padding: 4rem;
  border-radius: 0 0 0 5px;
}

.container .box-secondary-2 {
  background: var(--primary-cyan-light);
  padding: 4rem;
  border-radius: 0 0 5px 0;
}

.monthly-sub,
.sub-title {
  font-weight: var(--font-bold);
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.price .price-number {
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #fff;
}

.price .price-period {
  font-size: 1.4rem;
  color: rgba(245, 245, 245, 0.5);
}

.access {
  font-weight: var(--font-normal);
  font-size: 1.4rem;
  color: #fff;
  margin-top: 1rem;
}

.box-secondary-1 a {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin-top: 2rem;
  background: var(--primary-bright-yellow);
  padding: 1.2rem 0;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.info {
  color: rgba(245, 245, 245, 0.8);
  max-width: 70%;
  font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
  main {
    height: auto;
    margin: 6rem 0;
  }
  .container {
    width: 90%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .primary-section {
    padding: 2rem;
  }
  .container .secondary-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  .container .paragraph {
    line-height: 2.5rem;
  }
  .container .box-secondary-1 {
    background: var(--primary-cyan);
    padding: 2rem;
    border-radius: 0;
  }
  .container .box-secondary-2 {
    background: var(--primary-cyan-light);
    padding: 2rem;
    border-radius: 0 0 5px 5px;
  }
  .container .info {
    color: rgba(245, 245, 245, 0.8);
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 170px;
  }
}
/*# sourceMappingURL=style.css.map */